@model MVCLab.Models.Student

@{
    ViewData["Title"] = "Index";
}

<h4>My Student</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Manage" asp-controller="Student">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsMale" /> @Html.DisplayNameFor(model => model.IsMale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="LuuButton" value="Ghi file Text" class="btn btn-primary" />
                <input type="submit" name="LuuButton" value="Ghi file JSON" class="btn btn-primary" />
                <a asp-action="OpenData" asp-route-type="JSON" class="btn btn-success">
                    Mở file JSON
                </a>
                <a asp-action="OpenData" asp-route-type="TEXT" class="btn btn-success">
                    Mở file TEXT
                </a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
