<ul class="list-group">
    <li class="list-group-item">
        <a href="#">Điện thoại</a>
    </li>
    <li class="list-group-item">
        <a href="#">Laptop</a>
    </li>
    <li class="list-group-item">
        <a href="#">Máy tính bảng</a>
    </li>
    <li class="list-group-item">
        <a href="#">Tivi</a>
    </li>
</ul>