
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<input id="search" placeholder="Tìm gì?" />

<div id="result"></div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $("#search").keyup(function(){
                $.ajax({
                    url: "/Ajax/Search",
                    type: "POST",
                    data: { keyword : $(this).val().trim()},
                    success: function(res){
                        $("#result").html(res);
                    }
                });
            });
        });
    </script>
}